fastapi[standard]
sqlmodel
asyncpg
greenlet
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
opentelemetry-exporter-otlp

pytest
httpx2
ruff
bandit
