fastapi[standard]
sqlmodel
asyncpg
greenlet
names
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
opentelemetry-exporter-otlp
prometheus-client

pytest
pytest-asyncio
httpx2
ruff
bandit
